registry=https://alm-animaeducacao.pkgs.visualstudio.com/_packaging/animacore/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 08/07/2019.
; begin auth token
//alm-animaeducacao.pkgs.visualstudio.com/_packaging/animacore/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJjYTBmNThjZC1lYWM5LTYwN2QtYmJlOS1iZDQwZmFmZGRlNWIiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMTY5NmQ5MDUtYThlOS00OTE0LTg1ZjItM2E0MjlmMDA1OGRkIiwic2lkIjoiOTdmMjkwOGQtNWYxNy00MTgyLWFhNzEtMzQzMDdkNmZhMWE2IiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOjdiZTg4NDkxLTJjMjQtNDRkYS04Y2E0LWUxY2Y2YWMzMTA3NSIsIm5iZiI6MTU1NDgzMjU0MiwiZXhwIjoxNTYyNjA5MTQyfQ.yZxFGVNlQlts-cRxurPuSwxn2CWTB25nd65_Pg3PhoNcrUBrw5i5oXfenBXXoHUR43uMGMz4AXlGhCr4EtWd0PtoCKZnwQKqUnOFqHSs-4XQgITUFdnjNLVvbZOXSpzlp7sRYRup0pFP0Nh1oNAM69CIp6EFhXn8zmhkLIcsOPRug1cpoir_v7JyaLX4Ni5tm26VMDnwV7WkZWx9_B8E9z4nB6_oNgWiCAxhz9ORdLDEqMmIRtq0eKl1bvdSM1H7SYC-0SntPPEAhVpUER1iOw5de1ZK9PNWTTnJPysZryHIyWE0ENTdPiy6imKtrpIcsWkge_rOyP5JnJSYwMsM-A
//alm-animaeducacao.pkgs.visualstudio.com/_packaging/animacore/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJjYTBmNThjZC1lYWM5LTYwN2QtYmJlOS1iZDQwZmFmZGRlNWIiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMTY5NmQ5MDUtYThlOS00OTE0LTg1ZjItM2E0MjlmMDA1OGRkIiwic2lkIjoiOTdmMjkwOGQtNWYxNy00MTgyLWFhNzEtMzQzMDdkNmZhMWE2IiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOjdiZTg4NDkxLTJjMjQtNDRkYS04Y2E0LWUxY2Y2YWMzMTA3NSIsIm5iZiI6MTU1NDgzMjU0MiwiZXhwIjoxNTYyNjA5MTQyfQ.yZxFGVNlQlts-cRxurPuSwxn2CWTB25nd65_Pg3PhoNcrUBrw5i5oXfenBXXoHUR43uMGMz4AXlGhCr4EtWd0PtoCKZnwQKqUnOFqHSs-4XQgITUFdnjNLVvbZOXSpzlp7sRYRup0pFP0Nh1oNAM69CIp6EFhXn8zmhkLIcsOPRug1cpoir_v7JyaLX4Ni5tm26VMDnwV7WkZWx9_B8E9z4nB6_oNgWiCAxhz9ORdLDEqMmIRtq0eKl1bvdSM1H7SYC-0SntPPEAhVpUER1iOw5de1ZK9PNWTTnJPysZryHIyWE0ENTdPiy6imKtrpIcsWkge_rOyP5JnJSYwMsM-A
; end auth token